body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
}

.card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #111; 
    color: #fff;
}

.card-title {
    color: #fff;
}

.form-group,
.btn {
    margin-top: 10px;
}

.form-control {
    background-color: #222; 
    color: #fff;
}

.btn.btn-success {
    background-color: #050505 !important;
    border-color: #333 !important;
}

.btn.btn-success:hover {
    background-color: #0a0a0a !important;
    border-color: #1a1a1a !important;
}

#header-img {
    width: 100%;
    height: 50px;
    background-color: #333; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#img-id {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
