<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='internetflix.css') }}">
    <title>Internetflix US</title>
</head>

<body>

    <div id="login-form">
        <h1 id="main-header">Welcome to Internetflix, the world of entertainment!</h1>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="button" id="login-button">Login</button>
        <button type="button" id="sign-up-button">Sign Up</button>
    </div>

    <div id="sign-up-section" style="display: none;">
        <h1 id="main-header">Welcome to Internetflix, the world of entertainment!</h1>
        <label for="name">Name:</label>
        <input type="name" id="signup-name" name="name" required><br>

        <label for="email">Email:</label>
        <input type="email" id="signup-email" name="email" required><br>

        <label for="address">Address:</label>
        <input type="address" id="signup-address" name="address" required><br>

        <label for="password">Password:</label>
        <input type="password" id="signup-password" name="password" required><br>

        <button type="button" id="submit">Submit and proceed</button>
    </div>

    <div id="plan-options" style="display: none;">
        <h1 id="welcome-text">Welcome, </h1>
        <label for="country">Select your country:</label>
        <select id="country" name="country" required>
            <option value="United States of America">United States of America</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="China">China</option>
            <option value="Portugal">Portugal</option>
            <option value="SouthAfrica">South Africa</option>
            <option value="Brazil">Brazil</option>
        </select><br>

        <label for="plan">Select your plan:</label>
        <select id="plan" name="plan" required>
            <option value="weekly">Weekly Subscription - $5</option>
            <option value="monthly">Monthly Subscription - $20</option>
            <option value="annual">Annual Subscription - $200</option>
        </select><br>

        <h2>Make a Payment</h2>
        <button type="button" id="go-to-payment-button">Make Payment</button>
    </div>

    <div id="payment-options" style="display: none;">
        <label for="card-options">Select your payment method:</label>
        <form>
            <input type="radio" name="option1" value="existing-token" id="existing-token">
            <label for="male">Existing card</label><br>

            <input type="radio" name="option1" value="store-and-pay" id="store-and-pay">
            <label for="female">Pay with a new card and store it</label><br>

            <input type="radio" name="option1" value="just-pay" id="just-pay">
            <label for="other">Pay without storing</label><br>
        </form>
        </select><br>
        <button type="button" id="process-payment-button">Pay</button>
    </div>

    <div id="card-pay" style="display: none;">
        <label for="card-email">Please enter the email associated with your card:</label>
        <input type="card-email" id="card-email" name="card-email" required><br>

        <label for="card-number">Card Number with hyphen between the digits:</label>
        <input type="card-number" id="card-number" name="card-number" required><br>

        <label for="card-expiry">Expiry date in YYYY-MM-DD format:</label>
        <input type="card-expiry" id="card-expiry" name="card-expiry" required><br>

        <label for="card-cvv">CVV:</label>
        <input type="password" id="card-cvv" name="card-cvv" required><br>

        <button type="button" id="pay-by-card">Pay</button>
    </div>

    <div id="save-and-pay" style="display: none;">
        <label for="card-email">Please enter the email associated with your card:</label>
        <input type="card-email" id="save-and-pay-email" name="card-email" required><br>

        <label for="card-number">Card Number with hyphen between the digits:</label>
        <input type="card-number" id="save-and-pay-number" name="card-number" required><br>

        <label for="card-expiry">Expiry date in YYYY-MM-DD format:</label>
        <input type="card-expiry" id="save-and-pay-expiry" name="card-expiry" required><br>

        <label for="card-cvv">CVV:</label>
        <input type="password" id="save-and-pay-cvv" name="card-cvv" required><br>

        <button type="button" id="save-and-pay-button">Pay</button>
    </div>

    <script>
        const loginForm = document.getElementById('login-form');
        const loginButton = document.getElementById('login-button');
        const signupButton = document.getElementById('sign-up-button');
        const paymentOptions = document.getElementById('plan-options');
        const goToPaymentSection = document.getElementById('go-to-payment-button');
        const paymentSection = document.getElementById('payment-options');
        const makePaymentButton = document.getElementById('process-payment-button');
        const signupSection = document.getElementById('sign-up-section');
        const submit = document.getElementById('submit');
        const payByCardSection = document.getElementById('card-pay');
        const payByCardButton = document.getElementById('pay-by-card');
        const saveAndPaySection = document.getElementById('save-and-pay');
        const saveAndPayButton = document.getElementById('save-and-pay-button');
        const existingTokenOption = document.getElementById('existing-token');
        const welcomeText = document.getElementById('welcome-text');

        let paymentPlan = "";
        let countrySelected = "";
        let paymentMethod = "";
        let email = ""

        loginButton.addEventListener('click', async () => {
            email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const data = {
                'email': email,
                'password': password
            };

            const apiUrl = "/login";

            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });
                if (response.ok) {
                    globalResponse = await response.json(); // Store the response in the global variable
                } else {
                    console.error('API call failed with status:', response.status);
                }
            } catch (error) {
                console.error('API call failed:', error);
            }
            if (globalResponse.result.output) {
                loginForm.style.display = 'none'; // Hide the login form
                paymentOptions.style.display = 'block'; // Show the country and payment options
            } else {
                alert('Invalid email or password. Please try again.');
            }
        });

        signupButton.addEventListener('click', async () => {
            loginForm.style.display = 'none'; // Hide the login form
            signupSection.style.display = 'block'; // Show the country and payment options
        });

        submit.addEventListener('click', async () => {
            const signupName = document.getElementById('signup-name').value;
            email = document.getElementById('signup-email').value;
            const signupAddress = document.getElementById('signup-address').value;
            const signupPassword = document.getElementById('signup-password').value;

            const data = {
                'email': email,
                'password': signupPassword,
                'address': signupAddress,
                'name': signupName
            };

            let globalResponse;
            const apiUrl = "/signup";

            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });
                if (response.ok) {
                    globalResponse = await response.json(); // Store the response in the global variable
                } else {
                    console.error('API call failed with status:', response.status);
                }
                // Handle the API response here (e.g., show a success message or handle errors).
                // You can use response.json() to parse the response if it's in JSON format.
            } catch (error) {
                console.error('API call failed:', error);
            }
            if (globalResponse.result.output) {
                const data = {
                'email': email,
                'password': signupPassword,
                'address': signupAddress,
                'name': signupName
            };

                const apiUrl = "/getname";

                try {
                    const response = await fetch(apiUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        globalResponse = await response.json(); // Store the response in the global variable
                    } else {
                        console.error('API call failed with status:', response.status);
                    }
                } catch (error) {
                    console.error('API call failed:', error);
                }
                if (globalResponse.result.output) {
                    loginForm.style.display = 'none'; // Hide the login form
                    paymentOptions.style.display = 'block'; // Show the country and payment options
                } else {
                    alert('Invalid email or password. Please try again.');
                }
                signupSection.style.display = 'none'; // Hide the login form
                paymentOptions.style.display = 'block'; // Show the country and payment options
            } else {
                alert('Either the email exists or your password is weak. Ensure that the password has atleast 5 characters.');
            }
        });

        goToPaymentSection.addEventListener('click', async () => {
            countrySelected = document.getElementById('country').value;

            const apiUrl = "/checkexistingtoken";
            data = {
                'email': email,
                'country': countrySelected,
            };
            let globalResponse;
            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });
                if (response.ok) {
                    globalResponse = await response.json(); // Store the response in the global variable
                } else {
                    console.error('API call failed with status:', response.status);
                }
                // Handle the API response here (e.g., show a success message or handle errors).
                // You can use response.json() to parse the response if it's in JSON format.
            } catch (error) {
                console.error('API call failed:', error);
            }
            if (!globalResponse.result.doesExist) {
                console.log(globalResponse);
                existingTokenOption.disabled = true;
            }
            // email = document.getElementById('email').value;
            // const password = document.getElementById('password').value;
            paymentOptions.style.display = 'none';
            paymentPlan = document.getElementById('plan').value;
            paymentSection.style.display = 'block';
        });

        makePaymentButton.addEventListener('click', async () => {
            const radioButtons = document.getElementsByName("option1");
            amount = 0;
            if (paymentPlan == 'weekly')
                amount = 5;
            else if (paymentPlan == 'monthly')
                amount = 20;
            else
                amount = 200;
            // Initialize a variable to store the selected value

            // Loop through the radio buttons to find the selected one
            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    paymentMethod = radioButtons[i].value;
                    break; // Exit the loop once a selection is found
                }
            }

            if (paymentMethod == 'existing-token') {
                const data = {
                    'email': email,
                    'country': countrySelected,
                    'amount': amount
                };

                let globalResponse;
                const apiUrl = "/paywithtoken";

                try {
                    const response = await fetch(apiUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        globalResponse = await response.json(); // Store the response in the global variable
                    } else {
                        console.error('API call failed with status:', response.status);
                    }
                    // Handle the API response here (e.g., show a success message or handle errors).
                    // You can use response.json() to parse the response if it's in JSON format.
                } catch (error) {
                    console.error('API call failed:', error);
                }
                if (globalResponse.result.transaction) {
                    paymentOptions.style.display = 'none';
                    paymentSection.style.display = 'none';
                    alert("Hooray, your transaction has succeeded. Enjoy watching Internetflix!");
                } else {
                    alert("Either your token has expired or your transaction failed. Please choose the 'Pay with the new card and store it' option and if it still does not work, please contact Y's customer helpline for 24/7 assistance. Thank you!");
                }
            }
            else if (paymentMethod == 'store-and-pay') {
                paymentOptions.style.display = 'none';
                paymentSection.style.display = 'none';
                saveAndPaySection.style.display = 'block';
                saveAndPayButton.addEventListener('click', async () => {
                    cardNumber = document.getElementById('save-and-pay-number').value;
                    cardEmail = document.getElementById('save-and-pay-email').value;
                    cardExpiry = document.getElementById('save-and-pay-expiry').value;
                    cardCVV = document.getElementById('save-and-pay-cvv').value;

                    const data = {
                        'email': cardEmail,
                        'country': countrySelected,
                        'amount': amount,
                        'card-number': cardNumber,
                        'card-expiry': cardExpiry,
                        'card-cvv': cardCVV
                    };

                    let globalResponse;
                    const apiUrl = "/saveandpay";

                    try {
                        const response = await fetch(apiUrl, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data)
                        });
                        if (response.ok) {
                            globalResponse = await response.json(); // Store the response in the global variable
                        } else {
                            console.error('API call failed with status:', response.status);
                        }
                        // Handle the API response here (e.g., show a success message or handle errors).
                        // You can use response.json() to parse the response if it's in JSON format.
                    } catch (error) {
                        console.error('API call failed:', error);
                    }
                    if (globalResponse.result.isSuccess) {
                        paymentOptions.style.display = 'none';
                        paymentSection.style.display = 'none';
                        alert("Hooray, your transaction has succeeded. Enjoy watching Internetflix!");
                    } else if (!globalResponse.result.isValid) {
                        alert("Your card details could not be validated, please try again");
                    } else if (globalResponse.result.isValid) {
                        alert("Your card details could be validated but couldn't be stored maybe because you have already stored it or there was an issue on our end, we apologize for the same.");
                    } else {
                        alert("Could not process your transaction, please contact Y's customer helpline for 24/7 assistance. Thank you!");
                    }
                })
            }
            else if (paymentMethod == 'just-pay') {
                paymentOptions.style.display = 'none';
                paymentSection.style.display = 'none';
                payByCardSection.style.display = 'block';
                payByCardButton.addEventListener('click', async () => {
                    cardNumber = document.getElementById('card-number').value;
                    cardEmail = document.getElementById('card-email').value;
                    cardExpiry = document.getElementById('card-expiry').value;
                    cardCVV = document.getElementById('card-cvv').value;

                    const data = {
                        'email': cardEmail,
                        'country': countrySelected,
                        'amount': amount,
                        'card-number': cardNumber,
                        'card-expiry': cardExpiry,
                        'card-cvv': cardCVV
                    };

                    let globalResponse;
                    const apiUrl = "/paywithcard";

                    try {
                        const response = await fetch(apiUrl, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data)
                        });
                        if (response.ok) {
                            globalResponse = await response.json(); // Store the response in the global variable
                        } else {
                            console.error('API call failed with status:', response.status);
                        }
                        // Handle the API response here (e.g., show a success message or handle errors).
                        // You can use response.json() to parse the response if it's in JSON format.
                    } catch (error) {
                        console.error('API call failed:', error);
                    }
                    if (globalResponse.result.isSuccess) {
                        paymentOptions.style.display = 'none';
                        paymentSection.style.display = 'none';
                        alert("Hooray, your transaction has succeeded. Enjoy watching Internetflix!");
                    } else if (!globalResponse.result.isValid) {
                        alert("Your card details could not be validated, please try again");
                    } else {
                        alert("Could not process your transaction, please contact Y's customer helpline for 24/7 assistance. Thank you!");
                    }
                })
            }
        });
    </script>
</body>

</html>