<!DOCTYPE html>
<html>

<head>
  <title>Transaction Helper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='transactionhelper.css') }}">
</head>

<body>

  <!-- Add form tag -->

  <div id="login-form">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="button" id="login-button">Login</button>
  </div>

  <div id="y-main-page" style="display: none;">
    <h1>Welcome back to Y!</h1>
    <button type="button" id="go-search-button">Search Transactions for a Cardholder</button>
    <button type="button" id="analytics-button">Client Analytics</button>
  </div>

  <div id="find-form" style="display: none;">
    <h1>Find transactions by email</h1>
    <label for="search-email">Email:</label>
    <input type="search-email" id="search-email" name="search-email" required><br>

    <button type="button" id="search-button">Search Transactions</button>
  </div>

  <div id="transactions-table" style="display: none;">
    <div id="search-again">
      Search by another email:
      <input type="search-email" id="search-again-email" name="search-email" required><br>
      <button type="button" id="search-again-button">Search Transactions</button>
    </div>
    <label for="merchant-dropdown">Select an option:</label>
    <select id="merchant-dropdown" name="dropdown">
    </select>
    <label for="card-number-dropdown">Select an option:</label>
    <select id="card-number-dropdown" name="dropdown">
    </select>
    <table border="1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Card Number</th>
          <th>Amount</th>
          <th>Merchant</th>
          <th>Authentication Type</th>
          <th>Currency</th>
          <th>Fraud</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <div id="search-again-2">
      Search by another email:
      <input type="search-email" id="search-again-email" name="search-email" required><br>
      <button type="button" id="search-again-button">Search Transactions</button>
    </div>
  </div>
  <script>
    const loginButton = document.getElementById('login-button');
    const searchButton = document.getElementById('search-button');
    const searchPage = document.getElementById('find-form');
    const loginPage = document.getElementById('login-form');
    const transactionsPage = document.getElementById('transactions-table');
    const mainPage = document.getElementById('y-main-page');
    const goToSearchPage = document.getElementById('go-search-button');
    const table = document.getElementById('transactions-table');
    const tbody = table.querySelector('tbody');
    const searchAgainButton = document.getElementById('search-again-button');
    const merchantDropdown = document.getElementById('merchant-dropdown');
    const cardNumberDropdown = document.getElementById('card-number-dropdown');

    let email = '';
    let merchants = '';
    let merchantSelected = '';
    let cardNumber = '';

    let data = {
      'email': email,
      'merchantSelected': merchantSelected
    };

    let globalResponse;

    loginButton.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      loginPage.style.display = 'none';
      mainPage.style.display = 'block';
    });

    goToSearchPage.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      mainPage.style.display = 'none';
      searchPage.style.display = 'block';

      let apiUrl = "/getmerchants";

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      const option = document.createElement('option');
      option.value = 'All Merchants';
      option.textContent = 'All Merchants';
      merchantDropdown.appendChild(option);
      globalResponse.result.merchant_list.forEach(item => {
        const option = document.createElement('option');
        option.value = item;
        option.textContent = item;
        merchantDropdown.appendChild(option);
      });
    });

    merchantDropdown.addEventListener('change', function () {
      // Get the selected option
      merchantSelected = merchantDropdown.options[merchantDropdown.selectedIndex].value;
      // Log the selected option value and text
      console.log('Selected Option:', merchantSelected);
      searchAgainButton.click();
    });

    cardNumberDropdown.addEventListener('change', function () {
      // Get the selected option
      cardNumber = cardNumberDropdown.options[cardNumberDropdown.selectedIndex].value;
      // Log the selected option value and text
      console.log('Selected Option:', cardNumber);
      searchAgainButton.click();
    });

    searchButton.addEventListener('click', async () => {
      email = document.getElementById('search-email').value;
      transactionsPage.style.display = 'none';

      if (tbody) {
        // Remove all child nodes (contents) of the tbody
        while (tbody.firstChild) {
          tbody.removeChild(tbody.firstChild);
        }
      }

      let apiUrl = "/getcards";

      data = {
      'email': email,
    };

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      const option = document.createElement('option');
      option.value = 'All Cards';
      option.textContent = 'All Cards';
      cardNumberDropdown.appendChild(option);
      globalResponse.result.cards.forEach(item => {
        const option = document.createElement('option');
        option.value = item;
        option.textContent = item;
        cardNumberDropdown.appendChild(option);
      });

      data = {
        'email': email,
        'merchantSelected': merchantSelected,
        'card-number': cardNumber
      };

      searchPage.style.display = 'none';
      transactionsPage.style.display = 'block';

      apiUrl = "/gettransactions";

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          // Or 'GET' or 'PUT' depending on your API
          // Add headers, body, and other options as needed
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
        // Handle the API response here (e.g., show a success message or handle errors).
        // You can use response.json() to parse the response if it's in JSON format.
      } catch (error) {
        console.error('API call failed:', error);
      }
      globalResponse.result.output.forEach(item => {
        const row = document.createElement('tr');
        const dateCell = document.createElement('td');
        dateCell.textContent = item.transaction_timestamp;
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const amountCell = document.createElement('td');
        amountCell.textContent = item.transaction_amount;
        const merchantCell = document.createElement('td');
        merchantCell.textContent = item.merchant;
        const authenticationTypeCell = document.createElement('td');
        authenticationTypeCell.textContent = item.authentication_type;
        const currencyCell = document.createElement('td');
        currencyCell.textContent = item.transaction_currency;
        const fraudCell = document.createElement('td');
        fraudCell.textContent = item.transaction_fraud;

        row.appendChild(dateCell);
        row.appendChild(cardNumberCell);
        row.appendChild(amountCell);
        row.appendChild(merchantCell);
        row.appendChild(authenticationTypeCell);
        row.appendChild(currencyCell);
        row.appendChild(fraudCell);

        tbody.appendChild(row);
      });
    });

    searchAgainButton.addEventListener('click', async () => {
      if(document.getElementById('search-again-email').value != "")
        email = document.getElementById('search-again-email').value;
      document.getElementById('search-again-email').value = email;
      data = {
        'email': email,
        'merchantSelected': merchantSelected
      };
      transactionsPage.style.display = 'none';
      if (tbody) {
        // Remove all child nodes (contents) of the tbody
        while (tbody.firstChild) {
          tbody.removeChild(tbody.firstChild);
        }
      }
      const apiUrl = "/gettransactions";
      let globalResponse;
      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          // Or 'GET' or 'PUT' depending on your API
          // Add headers, body, and other options as needed
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
        // Handle the API response here (e.g., show a success message or handle errors).
        // You can use response.json() to parse the response if it's in JSON format.
      } catch (error) {
        console.error('API call failed:', error);
      }
      globalResponse.result.output.forEach(item => {
        const row = document.createElement('tr');
        const dateCell = document.createElement('td');
        dateCell.textContent = item.transaction_timestamp;
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const amountCell = document.createElement('td');
        amountCell.textContent = item.transaction_amount;
        const merchantCell = document.createElement('td');
        merchantCell.textContent = item.merchant;
        const authenticationTypeCell = document.createElement('td');
        authenticationTypeCell.textContent = item.authentication_type;
        const currencyCell = document.createElement('td');
        currencyCell.textContent = item.transaction_currency;
        const fraudCell = document.createElement('td');
        fraudCell.textContent = item.transaction_fraud;

        row.appendChild(dateCell);
        row.appendChild(cardNumberCell);
        row.appendChild(amountCell);
        row.appendChild(merchantCell);
        row.appendChild(authenticationTypeCell);
        row.appendChild(currencyCell);
        row.appendChild(fraudCell);

        tbody.appendChild(row);
      });
      transactionsPage.style.display = 'block';
    });

  </script>
</body>

</html>