<!DOCTYPE html>
<html>

<head>
  <title>Transaction Helper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='transactionhelper.css') }}">
</head>

<body>

  <!-- Add form tag -->

  <div id="login-form">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="button" id="login-button">Login</button>
  </div>

  <div id="y-main-page" style="display: none;">
    <h1>Welcome back to Y!</h1>
    <button type="button" id="go-search-button">Search Transactions for a Cardholder</button>
    <button type="button" id="analytics-button">Client Analytics</button>
  </div>

  <div id="find-form" style="display: none;">
    <h1>Find transactions by email</h1>
    <label for="search-email">Email:</label>
    <input type="search-email" id="search-email" name="search-email" required><br>

    <button type="button" id="search-button">Search Transactions</button>
  </div>

  <div id="transactions-table" style="display: none;">
    <div id="search-again">
      Search by another email:
      <input type="search-email" id="search-again-email" name="search-email" required><br>
      <button type="button" id="search-again-button">Search Transactions</button>
    </div>
    <div id="search-toggles">
      <label for="merchant-dropdown">Select a merchant:</label>
      <select id="merchant-dropdown" name="dropdown">
      </select>
      <label for="card-number-dropdown">Select a card:</label>
      <select id="card-number-dropdown" name="dropdown">
      </select>
      <label for="transaction-status-dropdown">Select a transaction status:</label>
      <select id="transaction-status-dropdown" name="dropdown">
        <option value="all">All Transactions</option>
        <option value="true">Approved</option>
        <option value="false">Not Approved</option>
      </select>
    </div>
    <div id="cardholder-details">
      <h3 id="cardholder-name">
    </div>
    <table border="1">
      <thead>
        <tr>
          <th>Card Number</th>
          <th>Available Funds</th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>
  <div id="transactions-actual" style="display: none;">
    <table border="1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Card Number</th>
          <th>Amount</th>
          <th>Merchant</th>
          <th>Authentication Type</th>
          <th>Currency</th>
          <th>Transaction Status</th>
          <th>Fraud</th>
          <th>Decline Reason</th>
        </tr>
      </thead>
      <tbody id="tbody2">

      </tbody>
    </table>
    <div id="search-again-2">
      Search by another email:
      <input type="search-email" id="search-again-email-2" name="search-email" required><br>
      <button type="button" id="search-again-button-2">Search Transactions</button>
    </div>
  </div>
  <script>
    const loginButton = document.getElementById('login-button');
    const searchButton = document.getElementById('search-button');
    const searchPage = document.getElementById('find-form');
    const loginPage = document.getElementById('login-form');
    const transactionsPage = document.getElementById('transactions-table');
    const mainPage = document.getElementById('y-main-page');
    const goToSearchPage = document.getElementById('go-search-button');
    const table = document.getElementById('transactions-table');
    const tbody = document.getElementById('tbody');
    const tbody2 = document.getElementById('tbody2');
    const searchAgainButton = document.getElementById('search-again-button');
    const merchantDropdown = document.getElementById('merchant-dropdown');
    const cardNumberDropdown = document.getElementById('card-number-dropdown');
    const transactionStatusDropdown = document.getElementById('transaction-status-dropdown');
    const table2 = document.getElementById('transactions-actual');

    let email = '';
    let merchants = '';
    let merchantSelected = '';
    let cardNumber = '';
    let transactionStatusSelected = '';

    let data = {
      'email': email,
      'merchantSelected': merchantSelected
    };

    let globalResponse;
    let isAdmin = false;
    loginButton.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      // Send a request to the server to check if the user is an admin
      const data = {
        'email': email,
        'password': password
      };

      const apiUrl = "/baselogin";

      const response = await fetch(apiUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      globalResponse = await response.json();

      if (globalResponse.result.output) {
        loginPage.style.display = 'none';
        mainPage.style.display = 'block';
      } else {
        alert('Invalid email or password. Please try again.');
      }
    });

    goToSearchPage.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      mainPage.style.display = 'none';
      searchPage.style.display = 'block';

      data = {
        'email': email,
        'merchantSelected': merchantSelected
      };

      let apiUrl = "/getmerchants";

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      const option = document.createElement('option');
      option.value = 'All Merchants';
      option.textContent = 'All Merchants';
      merchantDropdown.appendChild(option);
      globalResponse.result.merchant_list.forEach(item => {
        const option = document.createElement('option');
        option.value = item;
        option.textContent = item;
        merchantDropdown.appendChild(option);
      });
    });

    merchantDropdown.addEventListener('change', function () {
      // Get the selected option
      merchantSelected = merchantDropdown.options[merchantDropdown.selectedIndex].value;
      // Log the selected option value and text
      searchAgainButton.click();
    });

    cardNumberDropdown.addEventListener('change', function () {
      // Get the selected option
      cardNumber = cardNumberDropdown.options[cardNumberDropdown.selectedIndex].value;
      // Log the selected option value and text
      searchAgainButton.click();
    });

    transactionStatusDropdown.addEventListener('change', function () {
      // Get the selected option
      transactionStatusSelected = transactionStatusDropdown.options[transactionStatusDropdown.selectedIndex].value;
      // Log the selected option value and text
      searchAgainButton.click();
    });

    searchButton.addEventListener('click', async () => {
      email = document.getElementById('search-email').value;
      transactionsPage.style.display = 'none';
      table2.style.display = 'none';

      if (tbody) {
        // Remove all child nodes (contents) of the tbody
        while (tbody.firstChild) {
          tbody.removeChild(tbody.firstChild);
        }
      }

      if (tbody2) {
        // Remove all child nodes (contents) of the tbody
        while (tbody2.firstChild) {
          tbody2.removeChild(tbody2.firstChild);
        }
      }

      let apiUrl = "/getCardholderDetails";

      data = {
        'email': email,
      };

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      document.getElementById('cardholder-name').innerHTML = 'Cardholder Name :' + globalResponse.result.name;
      globalResponse.result.card_list.forEach(item => {
        const row = document.createElement('tr');
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const availableFundsCell = document.createElement('td');
        availableFundsCell.textContent = item.available_funds;

        row.appendChild(cardNumberCell);
        row.appendChild(availableFundsCell);

        tbody.appendChild(row);
      });

      apiUrl = "/getcards";

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      const option = document.createElement('option');
      option.value = 'All Cards';
      option.textContent = 'All Cards';
      cardNumberDropdown.appendChild(option);
      globalResponse.result.cards.forEach(item => {
        const option = document.createElement('option');
        option.value = item;
        option.textContent = item;
        cardNumberDropdown.appendChild(option);
      });

      data = {
        'email': email,
        'merchantSelected': merchantSelected,
        'cardNumber': cardNumber,
        'transactionStatus': transactionStatusSelected
      };

      searchPage.style.display = 'none';
      transactionsPage.style.display = 'block';
      table2.style.display = 'block';

      apiUrl = "/gettransactions";

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          // Or 'GET' or 'PUT' depending on your API
          // Add headers, body, and other options as needed
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
        // Handle the API response here (e.g., show a success message or handle errors).
        // You can use response.json() to parse the response if it's in JSON format.
      } catch (error) {
        console.error('API call failed:', error);
      }
      globalResponse.result.output.forEach(item => {
        const row = document.createElement('tr');
        const dateCell = document.createElement('td');
        dateCell.textContent = item.transaction_timestamp;
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const amountCell = document.createElement('td');
        amountCell.textContent = item.transaction_amount;
        const merchantCell = document.createElement('td');
        merchantCell.textContent = item.merchant;
        const authenticationTypeCell = document.createElement('td');
        authenticationTypeCell.textContent = item.authentication_type;
        const currencyCell = document.createElement('td');
        currencyCell.textContent = item.transaction_currency;
        const transactionStatus = document.createElement('td');
        if (item.transaction_status === true)
          transactionStatus.textContent = 'Approved';
        else
          transactionStatus.textContent = 'Not Approved ';
        const fraudCell = document.createElement('td');
        fraudCell.textContent = item.transaction_fraud;
        const declineReason = document.createElement('td');
        declineReason.textContent = item.decline_reason;

        row.appendChild(dateCell);
        row.appendChild(cardNumberCell);
        row.appendChild(amountCell);
        row.appendChild(merchantCell);
        row.appendChild(authenticationTypeCell);
        row.appendChild(currencyCell);
        row.appendChild(transactionStatus);
        row.appendChild(fraudCell);
        row.appendChild(declineReason);

        tbody2.appendChild(row);
      });
    });

    searchAgainButton.addEventListener('click', async () => {
      if (document.getElementById('search-again-email').value != "")
        email = document.getElementById('search-again-email').value;
      document.getElementById('search-again-email').value = email;
      document.getElementById('search-again-email-2').value = email;
      data = {
        'email': email,
        'merchantSelected': merchantSelected,
        'cardNumber': cardNumber,
        'transactionStatus': transactionStatusSelected
      };
      transactionsPage.style.display = 'none';
      table2.style.display = 'none';
      if (tbody) {
        // Remove all child nodes (contents) of the tbody
        while (tbody.firstChild) {
          tbody.removeChild(tbody.firstChild);
        }
      }
      let apiUrl = "/getCardholderDetails";

      let data = {
        'email': email,
        'merchantSelected': merchantSelected
      };
      let globalResponse;

      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
      } catch (error) {
        console.error('API call failed:', error);
      }
      document.getElementById('cardholder-name').innerHTML = 'Cardholder Name :' + globalResponse.result.name;
      globalResponse.result.card_list.forEach(item => {
        const row = document.createElement('tr');
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const availableFundsCell = document.createElement('td');
        availableFundsCell.textContent = item.available_funds;

        row.appendChild(cardNumberCell);
        row.appendChild(availableFundsCell);

        tbody.appendChild(row);
      });

      apiUrl = "/gettransactions";
      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          // Or 'GET' or 'PUT' depending on your API
          // Add headers, body, and other options as needed
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
        } else {
          console.error('API call failed with status:', response.status);
        }
        // Handle the API response here (e.g., show a success message or handle errors).
        // You can use response.json() to parse the response if it's in JSON format.
      } catch (error) {
        console.error('API call failed:', error);
      }
      globalResponse.result.output.forEach(item => {
        const row = document.createElement('tr');
        const dateCell = document.createElement('td');
        dateCell.textContent = item.transaction_timestamp;
        const cardNumberCell = document.createElement('td');
        cardNumberCell.textContent = item.card_number;
        const amountCell = document.createElement('td');
        amountCell.textContent = item.transaction_amount;
        const merchantCell = document.createElement('td');
        merchantCell.textContent = item.merchant;
        const authenticationTypeCell = document.createElement('td');
        authenticationTypeCell.textContent = item.authentication_type;
        const currencyCell = document.createElement('td');
        currencyCell.textContent = item.transaction_currency;
        const transactionStatus = document.createElement('td');
        if (item.transaction_status === true)
          transactionStatus.textContent = 'Approved';
        else
          transactionStatus.textContent = 'Not Approved ';
        // transactionStatus.textContent = item.transaction_status;
        const fraudCell = document.createElement('td');
        fraudCell.textContent = item.transaction_fraud;
        const declineReason = document.createElement('td');
        declineReason.textContent = item.decline_reason;

        row.appendChild(dateCell);
        row.appendChild(cardNumberCell);
        row.appendChild(amountCell);
        row.appendChild(merchantCell);
        row.appendChild(authenticationTypeCell);
        row.appendChild(currencyCell);
        row.appendChild(transactionStatus);
        row.appendChild(fraudCell);
        row.appendChild(declineReason);

        tbody2.appendChild(row);
      });
      transactionsPage.style.display = 'block';
      table2.style.display = 'block';
    });

  </script>
</body>

</html>