<!DOCTYPE html>
<html>

<head>
  <title>Transaction Helper</title>
</head>

<body>

  <div id="login-form">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="button" id="login-button">Login</button>
  </div>

  <div id="y-main-page" style="display: none;">
    <h1>Welcome back to Y!</h1>
    <button type="button" id="go-search-button">Search Transactions for a Cardholder</button>
    <button type="button" id="analytics-button">Client Analytics</button>
  </div>

  <div id="find-form" style="display: none;">
    <h1>Find transactions by email</h1>
    <label for="search-email">Name:</label>
    <input type="search-email" id="search-email" name="search-email" required><br>

    <button type="button" id="search-button">Search Transactions</button>
  </div>

  <div id="transactions-table" style="display: none;">
    <table border="1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Card Number</th>
          <th>Amount</th>
          <th>Merchant</th>
          <th>Authentication Type</th>
          <th>Currency</th>
          <th>Fraud</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <script>
    const loginButton = document.getElementById('login-button');
    const searchButton = document.getElementById('search-button');
    const searchPage = document.getElementById('find-form');
    const loginPage = document.getElementById('login-form');
    const transactionsPage = document.getElementById('transactions-table');
    const mainPage = document.getElementById('y-main-page');
    const goToSearchPage = document.getElementById('go-search-button');
    const table = document.getElementById('transactions-table');
    const tbody = table.querySelector('tbody');

    let email = ''
    loginButton.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      loginPage.style.display = 'none';
      mainPage.style.display = 'block';
    });

    goToSearchPage.addEventListener('click', async () => {
      email = document.getElementById('email').value;
      mainPage.style.display = 'none';
      searchPage.style.display = 'block';
    });

    searchButton.addEventListener('click', async () => {
      email = document.getElementById('search-email').value;
      const data = {
        'email': email
      };
      searchPage.style.display = 'none';
      transactionsPage.style.display = 'block';

      const apiUrl = "/gettransactions";
      let globalResponse;
      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          // Or 'GET' or 'PUT' depending on your API
          // Add headers, body, and other options as needed
        });
        if (response.ok) {
          globalResponse = await response.json(); // Store the response in the global variable
          console.log(globalResponse); // Log the response
        } else {
          console.error('API call failed with status:', response.status);
        }
        // Handle the API response here (e.g., show a success message or handle errors).
        // You can use response.json() to parse the response if it's in JSON format.
      } catch (error) {
        console.error('API call failed:', error);
      }
      globalResponse.result.output.forEach(item => {
        const row = document.createElement('tr');
        const date = document.createElement('td');
        date.textContent = item.transaction_timestamp;
        const cardNumber = document.createElement('td');
        cardNumber.textContent = item.card_number;
        const amount = document.createElement('td');
        amount.textContent = item.transaction_amount;
        const merchant = document.createElement('td');
        merchant.textContent = item.merchant_id;
        const authenticationType = document.createElement('td');
        authenticationType.textContent = item.email;
        const currency = document.createElement('td');
        currency.textContent = item.transaction_currency;
        const fraud = document.createElement('td');
        fraud.textContent = item.email;

        row.appendChild(idCell);
        row.appendChild(nameCell);
        row.appendChild(emailCell);

        tbody.appendChild(row);
      });
    });

  </script>
</body>

</html>