html, body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: sans-serif;
  }

  #main-header{
    margin-left: 0.5%;
  }
  
  /* Login form */
  #login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  #login-form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
  }
  
  #login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
  }

  #sign-up-button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 1.5%;
  }
  
  /* Sign up section */
  #sign-up-section {
    display: none;
  }
  
  #sign-up-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  #sign-up-section input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
  }
  
  #submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Plan options */
  #plan-options {
    display: none;
    margin-left: 1.5%;
  }

  #country{
    margin-bottom: 1%;
  }
  
  #plan-options select {
    width: 15%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
  }
  
  #go-to-payment-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Payment options */
  #payment-options {
    display: none;
    margin-left: 1.5%;
  }
  
  #payment-options form {
    margin-top: 10px;
  }
  
  #process-payment-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #existing-token{
    margin-bottom: 1%;
  }

  #store-and-pay{
    margin-bottom: 1%;
  }
  
  #card-pay, #save-and-pay {
    display: none;
    margin-left: 1.5%;
  }
  
  #card-email, #save-and-pay-email {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-bottom: 1%;
  }
  
  #card-number, #save-and-pay-number {
    width: 160px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-bottom: 1%;
  }
  
  #card-expiry, #save-and-pay-expiry {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-bottom: 1%;
  }
  
  #card-cvv, #save-and-pay-cvv {
    width: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-bottom: 1%;
  }
  
  #pay-by-card, #save-and-pay-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  