/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style the login form */
  #login-form {
    text-align: center;
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  #login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #login-form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login-button:hover {
    background-color: black;
  }
  
  /* Style the main page */
  #y-main-page {
    text-align: center;
    margin: 100px auto;
  }
  
  #y-main-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #go-search-button, #analytics-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #go-search-button:hover, #analytics-button:hover {
    background-color: #0056b3;
  }
  
  /* Style the find form */
  #find-form {
    text-align: center;
    margin: 100px auto;
    width: 300px;
  }
  
  #find-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    width: 102%;
  }
  
  #find-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #find-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #search-again{
    display: flex;
    margin-left: 33%;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5%;
  }

  #search-toggles{
    margin-bottom: 1.5%;
  }

  #search-again-button {
    width: 15%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
    display: inline-block;
  }

  #search-again-email{
    margin-left: 1.5%;
   }
 
  #search-again-2{
    display: flex;
    margin-left: 33%;
    text-align: center;
    align-items: center;
    margin-top: 1.5%;
  }

  #search-again-email-2{
   margin-left: 1.5%;
   margin-bottom: 2%;
  }

  #search-again-button-2  {
    width: 15%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
    display: inline-block;
  }
  
  #search-button:hover {
    background-color: black;
  }

  #merchant-dropdown{
    margin-right: 2%;
  }

  #card-number-dropdown{
    margin-right: 2%;
  }

  #cardholder-name{
    margin-bottom: 1%;
  }
  
  /* Style the transactions table */
  #transactions-table {
    text-align: center;
    margin: 20px auto;
    width: 90%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3%;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: black;
    color: #fff;
  }  

  #header-img{
    background: black;
    text-align: center;
  }

  #img-id{
    width: 20%;
  }